$backgroundColor: #FAF3DD;
$mainColor: #8FC0A9;
$secondaryColor: #68B0AB;
$tertiaryColor: #696d7d;
$fontColor: #000000;
body {
    background-color: $backgroundColor;
}
.topo {
    background-color: $mainColor;
    padding-top:30px;
    padding-bottom: 30px;
    a {
        text-decoration: none;
        font-size: 20px;
        font-weight: 350;
        color: $fontColor;
        margin-right: 100px;
    }
    .items {
        display: flex;
        justify-content: flex-start;
    }
    .pesquisa {
        display: flex;
        justify-content: flex-end;
        input {
            border: none;
            width: 300px;
            outline: 0;
            opacity: 1;
            height: 35px;
            border-radius: 10px;
            padding-left: 10px;    
        }
        input::placeholder {
            font-size: 20px;
            font-weight: 350;
        }
    }
    .botao {
        border: none;
        padding-left: 30px;
        padding-right: 30px;
        border-radius: 10px;
        height: 35px;
        background-color: transparent;
    }
}
