{% extends "home.html" %}
{% block noticias %}
<section class="listagem-noticias">
    <div class="container">
        <div class="row mt-5">
            <div class="botao-criar">
                <a href="/criar-noticia" class="criar"><i class="fa-solid fa-plus"></i> Criar nova notícia</a>
            </div>
            <div class="lista mt-5">
                <div class="col-6 titulo">
                    <p>Nome da notícia</p>
                </div>
                <div class="col-6 botoes">
                    <button class="btn-default btn-editar">Editar</button>
                    <button class="btn-default btn-deletar">Deletar</button>
                </div>
                
            </div>
            <hr>
        </div>
    </div>
</section>
{% endblock %}