{% extends "home.html" %}
{% block noticias %}
<section class="noticias-listagem">
    <div class="container">
        <div class="row">
            <h2 class="text-center mt-5 mb-5">Todas as notícias</h2>
            <div class="col-4 card-noticia">
                <img src="https://picsum.photos/500/300" alt="Imagem card" class="imagem-card">
                <div class="views">
                    <p>Categoria: SEI LA</p>
                    <div class="contagem">
                        <i class="fa-regular fa-eye"></i><p>  120</p>
                    </div>
                </div>
                <a href="#" class="titulo-card">Notícia 1</a>
                <p class="descricao-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis placeat libero dicta minus soluta iusto quasi adipisci tempore ratione ad harum culpa in, error alias sint architecto dolores voluptatibus.</p>
            </div>
            <div class="col-4 card-noticia">
                <img src="https://picsum.photos/500/300" alt="Imagem card" class="imagem-card">
                <div class="views">
                    <p>Categoria: SEI LA</p>
                    <div class="contagem">
                        <i class="fa-regular fa-eye"></i><p>  120</p>
                    </div>
                </div>
                <a href="#" class="titulo-card">Notícia 1</a>
                <p class="descricao-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis placeat libero dicta minus soluta iusto quasi adipisci tempore ratione ad harum culpa in, error alias sint architecto dolores voluptatibus.</p>
            </div>
             <div class="col-4 card-noticia">
                <img src="https://picsum.photos/500/300" alt="Imagem card" class="imagem-card">
                <div class="views">
                    <p>Categoria: SEI LA</p>
                    <div class="contagem">
                        <i class="fa-regular fa-eye"></i><p>  120</p>
                    </div>
                </div>
                <a href="#" class="titulo-card">Notícia 1</a>
                <p class="descricao-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis placeat libero dicta minus soluta iusto quasi adipisci tempore ratione ad harum culpa in, error alias sint architecto dolores voluptatibus.</p>
            </div>
             <div class="col-4 card-noticia">
                <img src="https://picsum.photos/500/300" alt="Imagem card" class="imagem-card">
                <div class="views">
                    <p>Categoria: SEI LA</p>
                    <div class="contagem">
                        <i class="fa-regular fa-eye"></i><p>  120</p>
                    </div>
                </div>
                <a href="#" class="titulo-card">Notícia 1</a>
                <p class="descricao-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis placeat libero dicta minus soluta iusto quasi adipisci tempore ratione ad harum culpa in, error alias sint architecto dolores voluptatibus.</p>
            </div>
             <div class="col-4 card-noticia">
                <img src="https://picsum.photos/500/300" alt="Imagem card" class="imagem-card">
                <div class="views">
                    <p>Categoria: SEI LA</p>
                    <div class="contagem">
                        <i class="fa-regular fa-eye"></i><p>  120</p>
                    </div>
                </div>
                <a href="#" class="titulo-card">Notícia 1</a>
                <p class="descricao-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis placeat libero dicta minus soluta iusto quasi adipisci tempore ratione ad harum culpa in, error alias sint architecto dolores voluptatibus.</p>
            </div>
             <div class="col-4 card-noticia">
                <img src="https://picsum.photos/500/300" alt="Imagem card" class="imagem-card">
                <div class="views">
                    <p>Categoria: SEI LA</p>
                    <div class="contagem">
                        <i class="fa-regular fa-eye"></i><p>  120</p>
                    </div>
                </div>
                <a href="#" class="titulo-card">Notícia 1</a>
                <p class="descricao-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis placeat libero dicta minus soluta iusto quasi adipisci tempore ratione ad harum culpa in, error alias sint architecto dolores voluptatibus.</p>
            </div>
             <div class="col-4 card-noticia">
                <img src="https://picsum.photos/500/300" alt="Imagem card" class="imagem-card">
                <div class="views">
                    <p>Categoria: SEI LA</p>
                    <div class="contagem">
                        <i class="fa-regular fa-eye"></i><p>  120</p>
                    </div>
                </div>
                <a href="#" class="titulo-card">Notícia 1</a>
                <p class="descricao-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis placeat libero dicta minus soluta iusto quasi adipisci tempore ratione ad harum culpa in, error alias sint architecto dolores voluptatibus.</p>
            </div>
             <div class="col-4 card-noticia">
                <img src="https://picsum.photos/500/300" alt="Imagem card" class="imagem-card">
                <div class="views">
                    <p>Categoria: SEI LA</p>
                    <div class="contagem">
                        <i class="fa-regular fa-eye"></i><p>  120</p>
                    </div>
                </div>
                <a href="#" class="titulo-card">Notícia 1</a>
                <p class="descricao-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet omnis placeat libero dicta minus soluta iusto quasi adipisci tempore ratione ad harum culpa in, error alias sint architecto dolores voluptatibus.</p>
            </div>
            
        </div>
    </div>
</section>
{% endblock %}